*{
    padding: 0;
    margin: 0;
}
html,body{
    font-size:16px;
}
a{
    color:inherit;
    text-decoration: none;
}

/********** 메인페이지  *************/
.wrap{
    background-color: white;
    width:100%;
    max-width: 1024px;
    margin:0 auto;
    padding: 1em 1.5em;
    box-sizing: border-box;
}
.title{
    font-size:3rem;
    padding-bottom: .5em;
    color:teal
}
.dict-list .inbox{
    position:relative;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}

.dict-list .inbox .text1{
    font-size:1.875rem;
    font-weight: bold;
    color:#222;
    border-bottom: solid 1px #d2d2d2;
    display: block;
    width:100px;
    padding-bottom:4px;
    margin-bottom:20px;
}
.dict-list .inbox .text2{
    font-size: 1.5rem;
    padding-bottom:1em;
}
.dict-card{
    margin-bottom:100px
}

.dict-card .del-btn{
    position:absolute;
    top:1em;right:1em;
    border:none;
    background-color: #f4f4f4;
    font-size:1.25rem;
    cursor: pointer;
    color:#222;
    transition: all .2s ease-in-out;
}

.dict-card .del-btn::after{
    content: "";
    display: block;
    position:absolute;
    top:11px;left:-5px;
    width:0;
    height:2px;
    background-color: teal;
    transition: all .2s ease-in-out;
}
.dict-card .del-btn:hover{
    color:teal;
}
.dict-card .del-btn:hover::after{
    width:120%;
}

.wrt-btn{
    position: fixed;
    bottom:50px;
    right:50px;
    font-size:2rem;
    color:#222;
    transition: all .2s ease-in-out;
}
.wrt-btn::after{
    position: absolute;
    bottom:0;left:0;
    content: "";
    width:0;
    height:2px;
    background-color: teal;
    transition: all .2s ease-in-out;
}
.wrt-btn:hover{
    color:teal
}
.wrt-btn:hover::after{
    width:100%
}

/*************** 작성페이지 ****************/

.write .inbox{
    background-color: #f4f4f4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1em;
}
.write .add-btn{
    width:100%;
    padding:20px;
    border:none;
    border-radius: 10px;
    background-color: #d2d2d2;
    color:#222;
    font-size:1.25rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin:5px 10px;
}
.write .add-btn:hover{
    background-color: teal;
    color:white;
}
.write .btn-wrap{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .write .btn-wrap{
        display: block;
    }
    .write .add-btn{
        margin:5px 0
    }
}